// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.height_pic {
    max-height: 60vh;
}
.green:visited {
    color: blue;
}
.green:hover {
    color: blue;
    background: white;
    cursor: pointer;
}

.img {
    bored: 4px;
}